:root{
    --background-color:rgb(41, 45, 48);
    --button-color:rgb(231, 173, 14);
    --font-family: "san-serif";
    --input-background:rgb(27, 25, 25);
}


body{
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.input-container{
    display:flex;
    margin: 7px 0px;
    padding: 0px 10px;
  }

  .input-container input{
    background-color: var(--input-background);
    color:white;
    font-size: 1rem;
    width:100%;
    padding: 10px;
    border-radius: .3rem;
    outline:none;
    border:none;
    /* box-shadow: 0px 0px 5px rgba(255,255,255,.3); */
}

.form-title{
    color:var(--button-color);
    font-size: 1.3rem;
    text-align: center;
}

.input-container label{
    color:white;
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container{
    width:100vw;
    height: 100vh;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.student-information-input-container{
    width: 80%;
    display:grid;
}

li{
    list-style: none;
}


.studentInfoContainer{
    position: fixed;
    display: none;
    bottom:0px;
    right:0px;
    z-index: 20;
    box-shadow: -3px -3px 10px, -3px -3px 3px;
    width:250px;
    padding:15px 25px;
    margin: 5px;
    border-radius: .3rem;
    background-color: rgb(19, 14, 37);
    color:white;
}

.studentInfoContainer:hover > .studentData{
    display: inline-block;
}


.dropdown-icon{
    font-size: 1.3rem;
    font-weight: bold;
    font-family:cursive;
}

.studentInfoContainer:hover .studentInfoTitle > .dropdown-icon{
    display: inline-block;
    -webkit-transform: rotate(90deg)  translateY(-5px);
    -moz-transform: rotate(90deg)  translateY(-5px);
    -o-transform: rotate(90deg)  translateY(-5px); 
    transform: rotate(90deg)  translateY(-5px);
}


.PRELIM-PERIOD{
    display: none;
    flex-direction: column;
    /* display:flex; */
    width:100vw;
    overflow-x: hidden;
    margin-top: 20px;
    justify-content: end;
}

.studentData li{
    display: grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
}

.studentData{
    display: none;
    width:100%;
}

#student-USN,
#student-Lname,
#student-Fname,
#student-Mname{
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.studentInfoTitle{
    color:var(--button-color);
    font-weight: bold;
}

.form-input-for-prelim{
    width:100%; height: 100%;
    display: grid;
}


.form-input-for-prelim ol li:hover{
    transition: all ease-in-out .5s;
    background-color: rgb(146, 157, 167);
    cursor: pointer;
    border-radius: .3rem;
    text-align: center;
}

.form-input-for-prelim ol li{
    padding: 3px;
}

.prelim-container-data{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width:100%; height: 100%;
    padding-top: 20px;
    grid-gap: 10px;
}



.lect{
    display: grid;
    width:100%;
}

.lect-input-and-label{
    display:grid;
}

h3{
    color:var(--button-color)
}

label,input,.resut-catcher-container{
    color:white;
}

.resut-catcher-container{
    display: flex;
    justify-content: space-around;
}

.res-container{
    margin-top: 10px;
    display: flex;
    box-shadow: 1px 1px 11px, 0px 0px 3px;
    padding: 0px 5px ;
    flex-direction: column;
    border-radius: .3rem;
}


.res-container ol li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    grid-gap: 10px;
    align-items: center;
}


#prelim_entry{
    display:flex;
    flex-direction: column;
    padding: 0px 50px;
    margin: 50px 0px;
}

.quiz-multi-input{
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}


input{
    width:80%;
    margin: 1.5px 0px;
    border-radius: .3rem;
    outline: none;
    text-indent: 10px;
    box-shadow: 0px 0px 3px rgb(56, 1, 1);
    padding: 10px 0px;
    margin: 3px 0px;
    color: white;
    background-color: rgba(0, 0, 0,.7);
    border: none;
}

#field{
    text-align: center;
    color:rgb(148, 41, 41);
    text-shadow: 0px 0px 2px black,1px 1px 10px white,-1px -1px 10px white;
}


@media only screen and (max-width: 768px) {
    .input-container{
        flex-direction: column;
    }

    .start h1{
        font-size: 14px;
    }

    .PRELIM-PERIOD{
        justify-content: center;
    }

    .prelim-container-data{
        grid-template-columns: 1fr;
    }

    .resut-catcher-container{
        flex-direction: column;
    }
}
